/**
 * All your custom CSS should go into this file
 */

html,
body{
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	
	/* Negative indent footer by it's height */
	margin: 0 auto -180px;
}


/* Set the fixed height of the footer here */
#push,
#footer {
	height: 180px;
}
#footer {
	background-color: #27272B;
}
#footer ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
#footer li{
	padding: 3px 0;
}
#footer a{
	color: #F5F5FA;
	text-decoration: none;
	opacity:.25;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
	}
}

#wrap > .container {
	padding-top: 70px;
}

/*style the navbar*/
.navbar-inner{
	background-image: none;
	background-color: #0079A5;
	min-height:50px;
}
.navbar .brand{
	color:#fff;
	text-shadow: none;
}
.navbar .nav > li > a {
  color: #ffffff;
  text-shadow: none;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	background-color: #fdc010;
	box-shadow:none;
}

/*style footer*/
#footer h4 {
    font-size: 18px;
    font-weight: 600;
    opacity: 0.75;
	color:#fff;
}

/*form element customization*/
.btn-primary{
	background-color: #0079A5;
	background-image: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
	background-color: #0060A5;
	background-image: none;
}